.slider {
    position: relative;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Slides */
.slide {
    display: none;
    width: 100%;
}

/* Next and previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.menu-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.menu-item img {
    margin-right: 20px;
}

.menu-item p {
    flex: 1;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(124, 38, 38, 0.8);
} 

/* Home Page Styles */
.bgimg {
    background-image: url('your-background-image.jpg'); /* Replace with your image path */
    height: 100%;
    background-position: center;
    background-size: cover;
}
